<ul class="nav nav-list">
	<li><a href="/index"><i class="icon-dashboard"></i><span
			class="menu-text"> Dashboard </span></a></li>
	<li class="active"><a href="#" class="dropdown-toggle"><i
			class="icon-desktop"></i><span class="menu-text">Management</span><b
			class="arrow icon-angle-down"></b></a>
	<ul class="submenu">
			<li class="active"><a href="/user/list"><i
					class="icon-double-angle-right"></i>User Management</a></li>
			<li><a href="/staff/list"><i class="icon-double-angle-right"></i>Staff
					Management</a></li>
		</ul></li>
	<li><a href="#" class="dropdown-toggle"><i class="null"></i><span
			class="menu-text">Vacation</span><b class="arrow icon-angle-down"></b></a>
	<ul class="submenu">
			<li class="active"><a href=""><i
					class="icon-double-angle-right"></i>Staff Vacation</a></li>
			<li><a href=""><i class="icon-double-angle-right"></i>My
					Vacation</a></li>
		</ul></li>
</ul>
<div class="sidebar-collapse" id="sidebar-collapse">
	<i class="icon-double-angle-left"></i>
</div>